<div class="comment">
	<i class="bcrikko"></i>
	<div class="balloon from-left">
		<p>
			<%= comment.body %><br>
			<small>Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
		</p>
	</div>
</div>
