// https://codepen.io/jamesbarnett/pen/kfmKa

.marquee {
  height: 50px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 60px;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee h1 {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
